.comment-list-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Título de la lista de comentarios */
.comment-list-title {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

/* Contenedor de todos los cards de comentarios */
.comment-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilo del card de comentario */
.comment-card {
    background-color: #93ff7de7;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

/* Título del comentario */
.comment-card-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

/* Descripción del comentario */
.comment-card-description {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}